<a href="https://colab.research.google.com/github/Benji8bit/NetoPYDA_48/blob/master/pyda_48_hw2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Домашнее задание к лекции "Введение в типы данных и циклы. Часть 1"

## Задание 1
Дана переменная, в которой хранится слово из латинских букв. Напишите код, который выводит на экран:
- среднюю букву, если число букв в слове нечетное;
- две средних буквы, если число букв четное.

Примеры работы программы:  
1. `word = 'test'`

Результат:  
`es`  
  
2.     
`word = 'testing'`

Результат:  
`t`

In [2]:
word = input('Input your word: ')
if (len(word)%2 == 0):
  print(word[len(word)//2 - 1] + word[len(word)//2])
else:
  print(word[len(word)//2])

Input your word: qwer
we

In [4]:
word = input('Input your word: ')
print(word[(len(word)-1)//2:(len(word)+2)//2])

Input your word: qwerty
er

## Задание 2
Напишите программу, которая последовательно запрашивает у пользователя числа (по одному за раз) и после первого нуля выводит сумму всех ранее введенных чисел.

Примеры работы программы:  
1.   

```
Введите число:  
1

Введите число:  
4

Введите число:  
6

Введите число:  
0
```

Результат:  
`11`

2.      

```
Введите число:  
0
```  

Результат:  
`0`

In [6]:
sum = 0
add = None
while (add != 0):
  add = int(input('Enter a number: '))
  sum += int(add)
print(sum)

Enter a number: 0
0

In [5]:
print(sum([int(x) for x in iter(input, '0')]))

1
3
5
0
9

## Задание 3

Мы делаем [MVP](https://ru.wikipedia.org/wiki/%D0%9C%D0%B8%D0%BD%D0%B8%D0%BC%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE_%D0%B6%D0%B8%D0%B7%D0%BD%D0%B5%D1%81%D0%BF%D0%BE%D1%81%D0%BE%D0%B1%D0%BD%D1%8B%D0%B9_%D0%BF%D1%80%D0%BE%D0%B4%D1%83%D0%BA%D1%82) dating-сервиса, и у нас есть список парней и девушек.  
Выдвигаем гипотезу: лучшие рекомендации мы получим, если просто отсортируем имена по алфавиту и познакомим людей с одинаковыми индексами после сортировки!
Но мы не будем никого знакомить, если кто-то может остаться без пары:

Примеры работы программы:  
1.  

```
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
```

Результат:  
```
Идеальные пары:  
Alex и Emma  
Arthur и Kate  
John и Kira  
Peter и Liza  
Richard и Trisha
```
2.     

```
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard', 'Michael']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
```

Результат:  
`Внимание, кто-то может остаться без пары!`

In [7]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
if (len(boys) == len(girls)):
  print('Идеальные пары: ')
  i = 0
  while (i < len(boys)):
    print(boys[i] + ' и ' + girls[i])
    i+=1
else:
  print('Внимание, кто-то может остаться без пары!')

Идеальные пары:
Peter и Kate
Alex и Liza
John и Kira
Arthur и Emma
Richard и Trisha

In [8]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
if len(boys) != len(girls):
	print('Внимание, кто-то может остаться без пары!')
else:
	print('Идеальные пары:')
	for boy, girl in zip(sorted(boys), sorted(girls)):
		print(f'{boy} и {girl}')

Идеальные пары:
Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richard и Trisha

## Задание 4

У нас есть список, содержащий информацию о среднедневной температуре в Фаренгейтах за произвольный период по странам (структура данных в примере).
Необходимо написать код, который рассчитает среднюю температуру за период в Цельсиях(!) для каждой страны.

Пример работы программы:  
```
countries_temperature = [
    ['Таиланд', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
    ['Германия', [57.2, 55.4, 59, 59, 53.6]],
    ['Россия', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
    ['Польша', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]
```

Результат:  
```
Средняя температура в странах:
Таиланд  -  23.9 С
Германия  -  13.8 С
Россия  -  3.7 С
Польша  -  12.0 С
```

In [ ]:
import math

countries_temperature = [
    ['Таиланд', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
    ['Германия', [57.2, 55.4, 59, 59, 53.6]],
    ['Россия', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
    ['Польша', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]
print('Средняя температура в странах:')

for country in countries_temperature:
  sum_fahrenheit = math.fsum(country[1])
  avg_fahrenheit = sum_fahrenheit / len(country[1])
  avg_celsium = (5 / 9) * (avg_fahrenheit - 32)
  print(country[0] + ' - ' + str(round(avg_celsium, 1)) + ' C')

Средняя температура в странах:
Таиланд - 23.9 C
Германия - 13.8 C
Россия - 3.7 C
Польша - 12.0 C

## Задание 5 (необязательное)

Имеется список с транспортными номерами. Необходимо написать код, который проверит каждый номер на валидность (1 буква, 3 цифры, 2 буквы, 2-3 цифры). Обратите внимание, что не все буквы кириллического алфавита используются в транспортных номерах.

Если номер валиден, то вывести его в нужном формавте (пример ниже), а если не валиден — вывести текст. При решении помогут регулярные выражения, с которыми будет знакомство на практике.

Примеры работы программы:  

`car_ids = ['А222ВС96', 'АБ22ВВ193']`

Результат:
```
Номер А222ВС валиден. Регион: 96
Номер АБ22ВВ193 не валиден
```

In [ ]:
import re

car_ids = ['А222ВС96', 'АБ22ВВ193']
for car_id in car_ids:
  car_id_regex = r'^[A-Я]{1}[0-9]{3}[A-Я]{2}[0-9]{2}$'
  car_id_checking = re.findall(car_id_regex, car_id)
  if car_id_checking != []:
    print('Номер ' + car_id + ' валиден. ' + 'Регион: ' + car_id[-2:])
  else:
    print('Номер ' + car_id + ' не валиден')

Номер А222ВС96 валиден. Регион: 96
Номер АБ22ВВ193 не валиден

## Задание 6 (необязательное)

Дан поток логов по количеству просмотренных страниц для каждого пользователя (`пользователь,дата;просмотры`). Вам необходимо написать алгоритм, который считает среднее значение просмотров на пользователя.
Т. е. надо посчитать отношение суммы всех просмотров к количеству уникальных пользователей. И тут регулярные выражения облегчат немного реализацию.

Примеры работы программы:  
1.  

```
stream = [
    'user4,2021-01-01;3',
    'user3,2022-01-07;4',
    'user2,2022-03-29;1',
    'user1,2020-04-04;13',
    'user2,2022-01-05;7',
    'user1,2021-06-14;4',
    'user3,2022-07-02;10',
    'user4,2021-03-21;19',
    'user4,2022-03-22;4',
    'user4,2022-04-22;8',
    'user4,2021-05-03;9',
    'user4,2022-05-11;11'
]
```

Результат:  
`Среднее количество просмотров на уникального пользователя: 23.25`  

2.     

```
stream = [
    'user100,2022-01-01;150',
    'user99,2022-01-07;205',
    'user1001,2022-03-29;81'
]
```

Результат:  
`Среднее количество просмотров на уникального пользователя: 145.33`

In [ ]:
import re

stream = [
    'user4,2021-01-01;3',
    'user3,2022-01-07;4',
    'user2,2022-03-29;1',
    'user1,2020-04-04;13',
    'user2,2022-01-05;7',
    'user1,2021-06-14;4',
    'user3,2022-07-02;10',
    'user4,2021-03-21;19',
    'user4,2022-03-22;4',
    'user4,2022-04-22;8',
    'user4,2021-05-03;9',
    'user4,2022-05-11;11'
]

stream_regex_login = r'^[a-z]{4}\d'
stream_regex_views = r'\d+$'


counter_login = 0
sum_unique_login_views = 0
sum_views = 0

for element in stream:
  counter_entries = 0
  print(element)
  stream_checking_login = re.findall(stream_regex_login, element)
  stream_checking_views = re.findall(stream_regex_views, element)
  print(stream_checking_login)
  print(stream_checking_views)
  login = stream_checking_login[0]

  views = 0

  print(login)
  print(views)
  for other_element in stream:
    print (other_element)
    stream_checking_login2 = re.findall(stream_regex_login, other_element)
    stream_checking_views2 = re.findall(stream_regex_views, other_element)
    views2 = int(stream_checking_views2[0])
    if (stream_checking_login2[0] == login):
      views += views2
      counter_entries += 1
      print(views)

  counter_login += 1
  sum_views += views
  avg_for_login = views / counter_entries
  sum_unique_login_views += avg_for_login
  print (avg_for_login)

print (sum_views)
print (counter_login)
print ('Среднее количество просмотров на уникального пользователя: ' + str(sum_views / counter_login))
print ('Среднее количество просмотров на уникального пользователя за один раз: ' + str(sum_unique_login_views / counter_login))

user4,2021-01-01;3
['user4']
['3']
user4
0
user4,2021-01-01;3
3
user3,2022-01-07;4
user2,2022-03-29;1
user1,2020-04-04;13
user2,2022-01-05;7
user1,2021-06-14;4
user3,2022-07-02;10
user4,2021-03-21;19
22
user4,2022-03-22;4
26
user4,2022-04-22;8
34
user4,2021-05-03;9
43
user4,2022-05-11;11
54
9.0
user3,2022-01-07;4
['user3']
['4']
user3
0
user4,2021-01-01;3
user3,2022-01-07;4
4
user2,2022-03-29;1
user1,2020-04-04;13
user2,2022-01-05;7
user1,2021-06-14;4
user3,2022-07-02;10
14
user4,2021-03-21;19
user4,2022-03-22;4
user4,2022-04-22;8
user4,2021-05-03;9
user4,2022-05-11;11
7.0
user2,2022-03-29;1
['user2']
['1']
user2
0
user4,2021-01-01;3
user3,2022-01-07;4
user2,2022-03-29;1
1
user1,2020-04-04;13
user2,2022-01-05;7
8
user1,2021-06-14;4
user3,2022-07-02;10
user4,2021-03-21;19
user4,2022-03-22;4
user4,2022-04-22;8
user4,2021-05-03;9
user4,2022-05-11;11
4.0
user1,2020-04-04;13
['user1']
['13']
user1
0
user4,2021-01-01;3
user3,2022-01-07;4
user2,2022-03-29;1
user1,2020-04-04;13
13
user2,2022-01-05;7
user1,2021-06-14;4
17
user3,2022-07-02;10
user4,2021-03-21;19
user4,2022-03-22;4
user4,2022-04-22;8
user4,2021-05-03;9
user4,2022-05-11;11
8.5
user2,2022-01-05;7
['user2']
['7']
user2
0
user4,2021-01-01;3
user3,2022-01-07;4
user2,2022-03-29;1
1
user1,2020-04-04;13
user2,2022-01-05;7
8
user1,2021-06-14;4
user3,2022-07-02;10
user4,2021-03-21;19
user4,2022-03-22;4
user4,2022-04-22;8
user4,2021-05-03;9
user4,2022-05-11;11
4.0
user1,2021-06-14;4
['user1']
['4']
user1
0
user4,2021-01-01;3
user3,2022-01-07;4
user2,2022-03-29;1
user1,2020-04-04;13
13
user2,2022-01-05;7
user1,2021-06-14;4
17
user3,2022-07-02;10
user4,2021-03-21;19
user4,2022-03-22;4
user4,2022-04-22;8
user4,2021-05-03;9
user4,2022-05-11;11
8.5
user3,2022-07-02;10
['user3']
['10']
user3
0
user4,2021-01-01;3
user3,2022-01-07;4
4
user2,2022-03-29;1
user1,2020-04-04;13
user2,2022-01-05;7
user1,2021-06-14;4
user3,2022-07-02;10
14
user4,2021-03-21;19
user4,2022-03-22;4
user4,2022-04-22;8
user4,2021-05-03;9
user4,2022-05-11;11
7.0
user4,2021-03-21;19
['user4']
['19']
user4
0
user4,2021-01-01;3
3
user3,2022-01-07;4
user2,2022-03-29;1
user1,2020-04-04;13
user2,2022-01-05;7
user1,2021-06-14;4
user3,2022-07-02;10
user4,2021-03-21;19
22
user4,2022-03-22;4
26
user4,2022-04-22;8
34
user4,2021-05-03;9
43
user4,2022-05-11;11
54
9.0
user4,2022-03-22;4
['user4']
['4']
user4
0
user4,2021-01-01;3
3
user3,2022-01-07;4
user2,2022-03-29;1
user1,2020-04-04;13
user2,2022-01-05;7
user1,2021-06-14;4
user3,2022-07-02;10
user4,2021-03-21;19
22
user4,2022-03-22;4
26
user4,2022-04-22;8
34
user4,2021-05-03;9
43
user4,2022-05-11;11
54
9.0
user4,2022-04-22;8
['user4']
['8']
user4
0
user4,2021-01-01;3
3
user3,2022-01-07;4
user2,2022-03-29;1
user1,2020-04-04;13
user2,2022-01-05;7
user1,2021-06-14;4
user3,2022-07-02;10
user4,2021-03-21;19
22
user4,2022-03-22;4
26
user4,2022-04-22;8
34
user4,2021-05-03;9
43
user4,2022-05-11;11
54
9.0
user4,2021-05-03;9
['user4']
['9']
user4
0
user4,2021-01-01;3
3
user3,2022-01-07;4
user2,2022-03-29;1
user1,2020-04-04;13
user2,2022-01-05;7
user1,2021-06-14;4
user3,2022-07-02;10
user4,2021-03-21;19
22
user4,2022-03-22;4
26
user4,2022-04-22;8
34
user4,2021-05-03;9
43
user4,2022-05-11;11
54
9.0
user4,2022-05-11;11
['user4']
['11']
user4
0
user4,2021-01-01;3
3
user3,2022-01-07;4
user2,2022-03-29;1
user1,2020-04-04;13
user2,2022-01-05;7
user1,2021-06-14;4
user3,2022-07-02;10
user4,2021-03-21;19
22
user4,2022-03-22;4
26
user4,2022-04-22;8
34
user4,2021-05-03;9
43
user4,2022-05-11;11
54
9.0
402
-36
Среднее количество просмотров на уникального пользователя: -11.166666666666666
Среднее количество просмотров на уникального пользователя за один раз: -2.5833333333333335

In [10]:
import re

stream = [
    'user4,2021-01-01;3',
    'user3,2022-01-07;4',
    'user2,2022-03-29;1',
    'user1,2020-04-04;13',
    'user2,2022-01-05;7',
    'user1,2021-06-14;4',
    'user3,2022-07-02;10',
    'user4,2021-03-21;19',
    'user4,2022-03-22;4',
    'user4,2022-04-22;8',
    'user4,2021-05-03;9',
    'user4,2022-05-11;11'
]

users_list = []
views = 0

for el in stream:
  splitted_el = re.split('[,;]', el)
  if splitted_el[0] not in users_list:
    users_list.append(splitted_el[0])
  views += int(splitted_el[2])
print(f'Среднее количество просмотров на уникального пользователя: {views/len(users_list)}')

Среднее количество просмотров на уникального пользователя: 23.25

#### ПРИМЕЧАНИЕ
Домашнее задание сдается ссылкой [Google Colab](https://colab.research.google.com/).
Не сможем проверить или помочь, если вы пришлете:
- файлы;
- архивы;
- скриншоты кода.

Все обсуждения и консультации по выполнению домашнего задания ведутся только на соответствующем канале в slack.

##### Как правильно задавать вопросы аспирантам, преподавателям и коллегам
Прежде чем задать вопрос, попробуйте найти ответ в интернете. Навык самостоятельного поиска информации — один из важнейших. Каждый практикующий специалист любого уровня делает это ежедневно.

Сформулируйте вопрос по алгоритму:  
1) Что я делаю?  
2) Какого результата я ожидаю?  
3) Как фактический результат отличается от ожидаемого?  
4) Что я уже попробовал сделать, чтобы исправить проблему?  

По возможности прикрепите к вопросу скриншоты либо ссылки на код. Не выкладывайте все решение, оставляйте только проблемный и воспроизводимый участок кода.